REACT_APP_FIREBASE_API_KEY=AIzaSyCvlTdzmDbTiirnnCVmncf5__i98_ySUm4
REACT_APP_FIREBASE_AUTH_DOMAIN=keiths-roofing-6b240.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=keiths-roofing-6b240
REACT_APP_FIREBASE_STORAGE_BUCKET=keiths-roofing-6b240.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=138996442382
REACT_APP_FIREBASE_APP_ID=1:138996442382:web:b8c29340693c94c899235f
REACT_APP_GOOGLE_MAPS_API_KEY=AIzaSyCqEDTzFAtXXa9I5unCIiJdBLyl5pW6Sj8
REACT_APP_GOOGLE_PLACE_ID=ChIJIdCPHlrVzIcRhW0XfLwJ0mw
REACT_APP_EMAILJS_SERVICE_ID=service_28gxqok
REACT_APP_EMAILJS_TEMPLATE_ID=template_lwbpkg9
REACT_APP_EMAILJS_PUBLIC_KEY=jYdL6t8hI1UYDk7V
